@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,600;1,200&display=swap");

:root {
  --white: #ffffff;
  --red: #f30000;
  --dark-grey: #484848;
  --light-grey: #eeeeee;
}

/* ----- Base elements ----- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-grey);
  color: var(--white);
  font-family: "Mulish", sans-serif;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5vw;
  background-color: var(--red);
  color: #ffffff;
}

header .logo {
  margin-left: 15px;
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.1vw;
}

header nav {
  display: flex;
  flex-direction: row;
}

header nav a {
  text-decoration: none;
  color: var(--light-grey);
  margin-right: 15px;
  font-size: 1.05vw;
}

header nav a:hover {
  color: var(--white);
  font-weight: bold;
  font-size: 105%;
}

.fas {
  color: var(--white);
  margin: 0px 1vw 0px 0px;
}

/* ----- Featured game ----- */

.featured-game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.15vw;
  height: 35vw;
}

.featured-game .container {
  width: 40vw;
  height: 35vw;
  margin: 5% 5% 2% 5%;
}

.featured-game-img {
  display: flex;
  width: 60vw;
  height: 100%;
  align-items: flex-end;
}
.featured-game-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured-game-title {
  font-size: 3.5vw;
}

.featured-game-title:hover {
  color: rgba(255, 0, 0, 0.8);
}

.featured-game-subtitle {
  margin-top: 2%;
  font-size: 1.4vw;
}

.featured-game-description {
  margin-top: 2%;
}

.buttons {
  justify-content: center;
  margin-top: 2%;
}

.button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: var(--white);
  padding: 1vw;
  margin: 2.1vw;
  font-size: 1vw;
  cursor: pointer;
  transition: 0.2s ease all;
}
.button:hover {
  background-color: rgba(255, 0, 0, 0.8);
  padding: 1vw;
}

.featured-game-img img {
  border-radius: 20px;
}

/* ----- Carousels ----- */

.carousel {
  margin-top: 20px;
}

.carousel h2 {
  text-align: center;
  width: 100%;
  background: var(--red);
  margin-top: 3.5vw;
  padding: 0.2vw;
  font-size: 1.4vw;
}

.game-divider {
  background: var(--red);
  padding: 0.2vw;
}

.carousel h3 {
  text-align: center;
  width: 100%;
  color: var(--red);
  background: var(--white);
  border-color: var(--red);
  padding: 0.2vw;
  font-size: 1.4vw;
}

.items-wrapper {
  width: 100vw;
}

.items {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow: scroll;
}
.item {
  flex: none;
  width: 13vw;
  height: 13vw;
  scroll-snap-align: initial;
  pointer-events: none;
}

.item img {
  flex: none;
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: 0 0.25vw 0 0.25vw;
}
